<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=book.Book_Name%></title>

    <link rel="icon" type="image/x-icon" href="/images/logo 1.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/homestyle.css">
</head>

<body>

    <!-- ! Navbar Start -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #bec0c2;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/booksadmin">
                <img src="/images/logo 2.png" width=" 175" height="40" class="d-inline-block align-text-top">
            </a>
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav NavIcons">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/booksadmin">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/authorsadmin">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/updatebooks">Update Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/updateauthors">Update Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>

        <!-- <form action="/booksadmin/edit" method="POST"> -->
        <!-- <input type="hidden" name="id" value="<%=book._id%>"> -->
        <button id="editbtn" type="submit" style="float: right;">Edit Book</button>
        <!-- </form> -->

        <!-- <form action="/booksadmin/<%=book._id%>" method="POST"> -->
        <!-- "?_method=DELETE"-->
        <!-- <input type="hidden" name="id" value="<%=book._id%>"> -->
        <button id="dltbtn" type="submit" style="float: right;">Delete Book</button>
        <!-- </form> -->
    </nav>

    <!-- ! Navbar End -->

    <!-- ! Carousel Start -->



    <!-- ! Carousel Ends -->



    <!-- ! Books Data Start -->


    <div class="bookscol  mx-auto" style="min-height: 100vh;">

        <!-- ! Delete tab Starts -->

        <div class="del">

            <span class="uclosed" style="margin-right: 25px; margin-top: 25px;">&times;</span>

            <h1>Are you sure you want to delete "<%=book.Book_Name%>" ?</h1>

            <div class=" col-3 d-grid gap-4 d-md-flex mx-auto">

                <form action="/booksadmin/<%=book._id%>" method="POST">
                    <!-- "?_method=DELETE"-->
                    <!-- <input type="hidden" name="id" value="<%=book._id%>"> -->
                    <!-- <button id="dltbtn" type="submit">Yes</button> -->
                    <button id="yes" type="submit" class="btn btn btn-danger btn-lg"
                        style="min-width: 150px;"><b>Yes</b></button>
                </form>

                <button id="no" class="btn btn-success" style="min-width: 150px;"><b>No</b></button>
                <br>
            </div>


        </div>

        <!-- ! Delete tab Ends -->


        <!-- ! Book Update Starts -->
        <div class="update">

            <span class="uclose" style="margin-right: 25px; margin-top: 25px;">&times;</span>

            <h1>Update <%=book.Book_Name%> </h1>

            <div class="bookupdate mx-auto">

                <form class="row g-3" action="/booksadmin/update/<%=book._id%>" method="post"
                    enctype="multipart/form-data">

                    <!-- <div class="row g-3"> -->
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="book name"
                                name="BookName" required value="<%=book.Book_Name%>">
                            <label for="floatingInputGrid">Book Name</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Author Name"
                                name="AuthorName" required value="<%=book.Author_Name%>">
                            <label for="floatingInputGrid">Author Name</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Genre"
                                name="Genre" required value="<%=book.Genre%>">
                            <label for="floatingInputGrid">Genre</label>
                        </div>
                    </div>

                    <!-- </div> -->


                    <div class="form-floating">
                        <!-- <input type="text" class="form-control" placeholder="Description" id="floatingTextarea2"
                    style="height: 100px" name="Description"> -->
                        <textarea class="form-control" placeholder="Description" id="floatingTextarea2"
                            style="height: 100px" name="Description" required><%=book.Description%></textarea>
                        <label for="floatingTextarea2">Description</label>
                    </div>


                    <div class="mb-3">
                        <!-- <label for="formFile" class="form-label">Default file input example</label> -->
                        <input class="form-control" type="file" id="formFile" name="Image" required
                            value="/images/<%=book.Image%>">
                    </div>


                    <div class=" col-12">
                        <button type="submit" class="btn btn-primary" value="<%=book._id%>">Update the
                            Book</button>
                    </div>
                </form>

            </div>

        </div>

        <!-- ! Book Update Ends -->


        <h1><%=book.Book_Name%></h1>

        <div class="text-center" style="float:right;">
            <img src="/images/<%=book.Image%>" class="rounded" alt="..." height="px" width="250px">
        </div>

        <br>

        <!-- <img src="/images/<%=book.Image%>" class="card-img-top" alt="..." height="300px" width="75px"> -->

        <dl class="row" style="float: none;">
            <dt class="col-sm-2">Book Name </dt>
            <dd class="col-sm-10"><b>: </b><%=book.Book_Name%></dd>

            <dt class="col-sm-2">Author Name</dt>
            <dd class="col-sm-10"><b>: </b><%=book.Author_Name%></dd>

            <dt class="col-sm-2">Genre</dt>
            <dd class="col-sm-10"><b>: </b><%=book.Genre%></dd>

            <dt class="col-sm-2">Book Description</dt>
            <dd class="col-sm-10" style="text-align: justify;"><b>: </b><%=book.Description%></dd>

            <!-- <dt class="col-sm-3">Term</dt>
            <dd class="col-sm-9">
                <p>Definition for the term.</p>
                <p>And some more placeholder definition text.</p>
            </dd> -->

        </dl>


    </div>







    <!-- ! Books Data End -->





    <!-- ! Footer Start -->

    <div class="footer">
        <h3>Copyright © Books.com 2022</h3>
    </div>

    <!-- ! Footer Start -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/updateJS.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>